section {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100%;
    margin-top: 5%;
}

button {
    color: white;
    background: #d94646;
    border: none;
    border-radius: 10px;
    vertical-align: super;
}

input {
    height: 40px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10%;
    cursor: pointer;
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
}